<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ava.androidchef">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/chef_hat"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ChefTheme">
        <activity android:name=".features.onboarding.OnboardingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.addrecipe.AddRecipeActivity"
            android:label="@string/new_recipe" />
        <activity
            android:name=".features.createmenu.CreateMenuActivity"
            android:label="@string/create_menu" />
        <activity
            android:name=".features.allrecipes.AllRecipesActivity"
            android:label="@string/my_recipes"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".features.displaymenu.DisplayMenuActivity"
            android:label="@string/my_menu"/>
        <activity
            android:name=".features.shoppinglist.ShoppingListActivity"
            android:label="@string/my_shopping_list"/>
    </application>

</manifest>
